td.titulo{
  box-sizing: border-box;
  white-space: pre-line;
  word-wrap: break-word;
}
th, td {
    text-align: center;
    vertical-align: middle;
    max-width: 15ch;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td.orden{
    font:bold;
}
td.fecha:hover{
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    max-width: inherit;
    cursor: pointer;
}
td.descripcion:hover{
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    max-width: inherit;
    cursor: pointer;
}
th select{
    width: 100%;
}


