{% extends 'templateEditTareas.html' %}

{% block title %} Editar tarea {% endblock %}

{% block body %}
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="eliminarModal">Eliminar tarea</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Desea eliminar la tarea: <b> {{tarea.nombre}} </b>?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnConfirmarEliminar">Confirmar</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarModal2" tabindex="-1" aria-labelledby="eliminarModal2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="eliminarModal2">Eliminar comentario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Desea eliminar el comentario?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnConfirmarEliminar2">Confirmar</button>
        </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center vh-100">
    {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style=" text-align:center;">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-md-6 col-sm-12 col-xl-9 col-lg-9">
        <h5>Detalle - Editar Tarea</h5>
        <div class="card">
            <div class="card-body">
            <form class="row g-3"  method="POST">{% csrf_token %}
                <input type="hidden" name="id" value="{{tarea.id}}">
                <div class="form-group col-12">
                <label for="nombre">Titulo</label>
                <input class="form-control" value="{{tarea.nombre}}" placeholder="Titulo de la Tarea"  type="text" name="nombre" id="nombre" maxlength="50"  required>
                </div>
                <div class="form-group col-md-4">
                    <label for="responsable">Responsable</label>
                    <select class="form-select"  name="responsable" id="responsable">
                        <option value="{{tarea.responsable}}" selected>{{tarea.responsable}}</option>
                    {% if esSupervisor %}
                    {% for responsable in responsables %}
                        <option value="{{responsable}}">{{responsable}}</option>
                    {% endfor %}
                    {% endif %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                <label for="etiqueta2">Etiqueta</label>
                <select class="form-select" name="etiqueta" id="etiqueta2">
                    {% for etiqueta in etiquetas %}
                    {% if tarea.etiqueta in etiqueta %}
                    <option selected value="{{etiqueta}}">{{etiqueta}}</option>
                    {% endif %}
                    {% endfor %}
                    {% for etiqueta in etiquetas %}
                    <option value="{{etiqueta}}">{{etiqueta}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group col-md-4">
                <label for="prioridad">Prioridad</label>
                <select class="form-select" name="prioridad" id="prioridad">
                    {% for prioridad in prioridades %}
                    {% if tarea.prioridad in prioridad %}
                    <option selected value="{{prioridad.0}}">{{prioridad.1}}</option>
                    {% endif %}
                    {% endfor %}
                    {% for prioridad in prioridades %}
                    <option value="{{prioridad.0}}">{{prioridad.1}}</option>
                    {% endfor %}
                </select>
                </div>
            <div class="form-group col-md-4">
                <label for="categoria">Categoria</label>
                <select class="form-select" name="categoria" id="categoria">
                    {% for categoria in categorias %}
                    {% if tarea.categoria in categoria %}
                    <option selected value="{{categoria.0}}">{{categoria.1}}</option>
                    {% endif %}
                    {% endfor %}

                {% for categoria in categorias %}
                <option value="{{categoria.0}}">{{categoria.1}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="sitio">Sitio</label>
                <select class="form-select" name="sitio" id="sitio">
                    {% for sitio in sitios %}
                    {% if tarea.sitio in sitio %}
                    <option selected value="{{sitio.0}}">{{sitio.1}}</option>
                    {% endif %}
                    {% endfor %}

                {% for sitio in sitios %}
                <option value="{{sitio.0}}">{{sitio.1}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="departamento">Departamento</label>
                <select class="form-select" name="departamento" id="departamento">
                    {% for departamento in departamentos %}
                    {% if tarea.departamento in departamento %}
                    <option selected value="{{departamento.0}}">{{departamento.1}}</option>
                    {% endif %}
                    {% endfor %}
                {% for departamento in departamentos %}
                <option value="{{departamento.0}}">{{departamento.1}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="descripcion">Descripcion</label>
                <textarea  class="form-control" name="descripcion" id="descripcion" rows="3" required>{{tarea.descripcion}}</textarea>
            </div>
            <div class="form-group col-md-12">
            <p>
                {% for adjunto in adjuntosTarea %}
                Archivo adjunto:&nbsp
                <a href="/tareas/editar/tarea/descargar/{{adjunto.url}}">{{adjunto.url}}</a>
                {% endfor %}
            </p>
            </div>
                <div class="form-group col-md-10">
                <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
                <div class="form-group col-md-2 d-flex justify-content-end">
                <button class="btn btn-danger" id="btnEliminar" data-bs-toggle="modal" data-bs-target="#eliminarModal" type="button">Eliminar</button>
                </div>
                <div class="form-group col-md-12">
                    <a href="/tareas"  class=" btn btn-secondary " > Volver </a>
                </div>
            </form>
            </div>
        </div>
        <h5>Comentarios</h5>
        <div class="col-12">
            <div class="card">
            <div class="card-body">
            <form id="formComentar" enctype="multipart/form-data" class="row g-3"  method="POST">{% csrf_token %}
                <input type="hidden" name="id" value="{{tarea.id}}">
                <div class="form-group col-12">
                <label for="campoComentario">Texto:</label>
                <textarea id="campoComentario"  class="form-control" name="comentario" id="comentario" rows="1" required></textarea>
                <div class="form-group col-md-12">
                    <label for="archivo">Adjuntar Archivo:</label>
                    <input class="form-control" type="file" name="archivo" id="archivo">
                </div>
                <div class="form-group py-2">
                    <button class="btn btn-primary" type="submit" id="btnComentar">Comentar</button>
                </div>
            </div>
            </form>
            </div>
            </div>
            <div id="nuevoComentario"></div>
                {% for comentario in comentarios %}
                <div class="col-12" id="{{comentario.id}}">
                <div class="card">
                    <div class="card-body">
                        <h5 >{{comentario.usuario}}:&nbsp</h5> 
                        {{comentario.comentario}}
                        <div class="d-flex bd-highlight">
                        <p class=" w-100 bd-highlight">{{comentario.fecha_creacion}}</p>
                            <button name="btEliminarComentario" value="{{comentario.id}}" class="btn btn-danger  flex-shrink-1 bd-highlight" id="btnEliminar" data-bs-toggle="modal" data-bs-target="#eliminarModal2" type="button">Eliminar</button>
                        </div>
                        {% if comentario.url %}
                        <p>
                            Archivo adjunto:&nbsp
                            <a href="/tareas/editar/tarea/descargar/{{comentario.url}}">{{comentario.url}}</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>       
</div>


{% endblock %}

