{% extends 'template.html' %}

{% block title %} Gestion de Dispositivos {% endblock %}

{% load static %}

{% block body %}
<div class="row">
  {% if messages %}
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style=" text-align:center;">
        <strong>{{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
    <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3">
    <h4>Status</h4>
    <div class="card">
      <div class="card-body">
        {% if status == -1 %}
        <p class="card-text">Radius POS : <strong>Activo</strong>
        <img src="{% static 'img/green.png' %}" height="20px" style="border-radius:50%;" title="Active"></p>
        {% else %}
        <p class="card-text">Radius POS : <strong>Inactivo</strong>
        <img src="{% static 'img/red.jpg' %}" height="20px" style="border-radius:50%;" title="Active"></p>
        {% endif %}
        <p class="card-text">Radius Valle : <strong>Inactivo</strong> 
        <img src="{% static 'img/red.jpg' %}" height="20px" style="border-radius:50%;" title="Active"></p>
        <p class="card-text">Radius Norte : <strong>Inactivo</strong> 
        <img src="{% static 'img/red.jpg' %}" height="20px" style="border-radius:50%;" title="Active"></p>
        <p class="card-text">Radius Sur : <strong>Inactivo</strong> 
        <img src="{% static 'img/red.jpg' %}" height="20px" style="border-radius:50%;" title="Active"></p>
      </div>
    </div>
        <h4>Alta Dispositivos</h4>
    <div class="card">
      <div class="card-body">
        <form action="agregarMac" method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="mac">MAC</label>
            <input placeholder="XX:XX:XX:XX:XX:XX" class="form-control" type="text" name="mac" id="mac" minlength="17" maxlength="17" pattern="[0-9A-F]{2}:[0-9A-F]{2}:[0-9A-F]{2}:[0-9A-F]{2}:[0-9A-F]{2}:[0-9A-F]{2}" required>
        </div>
        <div class="form-group">
            <label for="nombre"> Nombre </label>
            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre usuario_Detalle" required>
        </div>
        <br>
        <div class="form-group row px-4">
            <button class="btn btn-primary" type="submit">Agregar</button>
        </div>
        </form>
      </div>
    </div>
    <br>
    <form action="exportarMac" method="POST">{% csrf_token %}
      <div class="form-group row px-4">
        <button class="btn btn-primary" type="submit">Exportar datos</button>
      </div>
    </form>
    </div>
    <div class="col-md-6 col-sm-12 col-xl-9 col-lg-9">
      <h4>Lista Dispositivos</h4>
      <div class="table-responsive py-2">
        <table class="table table-striped" id="dTable">
          <thead>
            <tr>
              <th hidden> </th>
              <th>#</th>
              <th>MAC</th>
              <th>Nombre</th>
              <th>Alta/Modificado</th>
              <th>Fecha Alta</th>
              <th>Fecha Modificado</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for mac in macs %}
            <tr>
              <td hidden>{{ mac.id }}</td>
              <td>{{ forloop.counter }}</td>
              <td>{{ mac.mac }}</td>
              <td>{{ mac.nombre }}</td>
              <td>{{ mac.comentario }}</td>
              <td>{{ mac.fecha_creacion }}</td>
              <td>{{ mac.fecha_modificacion }}</td>
              <td><a class="btn btn-secondary" href="editarMac/{{ mac.id }}">Editar</a></td>
              <td><a class="btn btn-danger btEliminar" href="borrarMac/{{ mac.id }}">Borrar</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}